<h1>My Todo's</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>Description</th>
                <th>Target Date</th>
                <th>Is completed?</th>
            </tr>
        </thead>
        <tbody>
            <!-- for (Todo todo : todos ) -->
            <!-- <tr *ngFor="let todo of todos"></tr> -->
            <tr *ngFor="let todo of todos; let impar = odd; let par = even;" [ngClass]="{azul:par,verde:impar}">
            <!-- <tr *ngFor="let todo of todos"> -->
                <!-- <th>{{todo.id}}</th> -->
                <th>{{todo.description | uppercase}}</th>
                <th>{{todo.targetDate | date}}</th>
                <th>{{todo.done}}</th>
            </tr>
        </tbody>
    </table>
</div>